basicsr==1.3.4.7
certifi==2020.12.5
cffi
dlib==19.22.1
face-alignment==1.3.5
glob2
imageio==2.9.0
imageio-ffmpeg==0.4.5
kornia==0.5.5
lmdb==1.2.1
numba==0.54.1
numpy==1.19.0
opencv-python==3.4.9.33
pandas==1.3.4
Pillow==6.2.1
python-dateutil==2.8.2
PyYAML==5.3.1
scikit-image==0.16.2
scipy==1.4.1
tensorboard==2.7.0
torch==1.7.1
torchvision==0.8.2
tqdm
trimesh==3.9.20
